/*html, body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

#globe {
  cursor: move;  
}

#current {
  position: absolute;
  color: black;
  font-family: sans-serif;
  margin-left: 4%;
  margin-top: 4%;
}*/

.text {
	font-family: helvetica;
	font-size: 12px;
	opacity: 1;
  stroke-width: 6px;
}
